.deals-container {
  width: 100%;
  margin-top: 80px;

  .deals-wrapper {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;

    .switch-bar {
      border-bottom: 1px solid rgb(238, 238, 238);
      padding-bottom: 20px;

      .top-bar {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
          color: #585858;
          font-weight: bold;
          margin: auto 0;
          font-size: 24px;
        }

        .right,
        .filter-by {
          min-width: 160px;

          .ant-select {
            font-weight: 500;
            color: #ed1450;
            font-size: 16px;
            width: 100%;
          }
        }
      }

      .instrument-select {
        display: flex;
        flex-direction: row;
        margin: auto 0;

        .ant-select {
          font-weight: 500;
          color: #ed1450;
          font-size: 16px;
          width: 48%;
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          border: 2px solid #ed1450;
        }

        .arrows {
          margin: auto 8px;
          color: #ed1450;
          width: 4%;
          text-align: center;
        }

        .ant-select-arrow {
          color: #ed1450;
        }

        .ant-select-selection {
          height: 20px;
        }
      }
    }

    .no-result {
      display: block;
      min-height: 300px;
      .svg-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        svg {
          padding-top: 50px;
          min-width: 200px;
          width: 30%;
          height: fit-content;
        }
      }
      .no-result-text {
        padding-top: 20px;
        text-align: center;
        color: #585858;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .load-more {
      min-height: 90px;
      padding-bottom: 20px;
      border-top: 1px solid rgb(238, 238, 238);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .results-count {
        margin: auto 0;
        font-size: 12px;
      }
    }
  }
  .ant-divider-horizontal.ant-divider-with-text {
    margin: 15px 0 15px 0;
  }
}
