.deals-container {
  width: 100%;
  margin-top: 20px;

  .deals-wrapper {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;

    .switch-bar {
      border-bottom: 1px solid rgb(238, 238, 238);
      padding-bottom: 20px;

      .left {
        color: #585858;
        font-weight: bold;
        margin: auto 0;
        font-size: 24px;
        margin-bottom: 20px;

      }

      .instrument-select {
        display: flex;
        flex-direction: row;
        margin: auto 0;
        border-top: 1px solid #eeeeee;
        padding-top: 20px;

        .ant-select {
          font-weight: 500;
          color: #ed1450;
          font-size: 16px;
          width: 48%;
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          border: 2px solid #ed1450;
        }

        .arrows {
          margin: auto 8px;
          color: #ed1450;
          width: 4%;
          text-align: center;
        }

        .ant-select-arrow {
          color: #ed1450 !important;
        }

        .ant-select-selection {
          height: 20px !important;
        }
      }
    }
  }
}
