.walletModal {
  & .ant-modal-footer {
    display: none;
  }

  &-box {
    display: flex;
    align-items: flex-start;

    &-left {
      flex: 1;
      padding-right: 20px;

      & h3 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }

  &-recieve {
    &-icon {
      transform: rotate(180deg);
    }

    & p {
      font-size: 12px;
      font-weight: 500;
      color: #999;
      margin-bottom: 10px;

      &.walletModal-address {
        color: #14a014;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
        word-wrap: break-word;

        @media only screen and (max-width: 540px) {
          width: 250px;
        }
      }
    }
  }

  &-send {
    & h3 {
      margin-top: 0;
    }

    & h4 {
      margin-bottom: 20px;
    }

    &ant-input {
      font-size: 16px;
    }
  }

  & .ant-alert-message {
    color: #ed1450;
    font-size: 13px;
    line-height: 15px;
  }

  &-p {
    word-wrap: break-word;

    @media only screen and (max-width: 540px) {
      width: 200px;
    }
  }
}

@keyframes dropin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
