.walletModal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;

  &-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
  }

  &-modal {
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    padding: 10px 20px 30px 20px;
    margin: 0 auto;
    margin-top: 75px;
    width: 600px;
    max-width: 90%;
    // box-shadow: 3px 3px 3px 3px #999;
    z-index: 2;
    animation: dropin 0.2s ease-in;
  }

  &-close {
    border: none;
    background-color: #fff;
    color: #999;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: -10px;
  }

  &-box {
    display: flex;
    align-items: flex-start;

    &-left {
      flex: 1;

      & h3 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }

  &-recieve {
    &-icon {
      transform: rotate(180deg);
    }

    & h4 {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 0;
    }

    & p {
      font-size: 12px;
      font-weight: 500;
      color: #999;
      margin-bottom: 10px;

      &.walletModal-address {
        color: #14a014;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
        word-wrap: break-word;

        @media only screen and (max-width: 540px) {
          width: 250px;
        }
      }
    }
  }

  &-send {
    & h3 {
      margin-top: 0px;
    }

    & h4 {
      margin-bottom: 20px;
    }

    &ant-input {
      font-size: 16px;
    }
  }

  & .ant-alert-message {
    color: #ed1450;
    font-size: 13px;
    line-height: 15px;
  }

  &-p {
    word-wrap: break-word;

    @media only screen and (max-width: 540px) {
      width: 250px;
    }
  }
}

@keyframes dropin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
