.profile-review-item-container {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
  &:last-child {
    border-bottom: unset;
  }
  .row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .username-reviewitem-green {
        color: rgb(20, 160, 20);
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 4px;


        &:active {
          opacity: 0.7;
        }
      }
      .date {
        font-size: 12px;
        color: grey;
        margin: auto 0;
        padding-left: 3px;
      }
    }
  }
}

.text-green {
  color: #14a014;
  font-size: 14px;
}
