.chatheader {
  &-title {
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    color: #14a014;
    font-size: 16px;
  }

  &-main {
    padding: 0 10px;
    padding-bottom: 10px;

    .left {
      display: flex;
      justify-content: space-between;

      .avatar {
        margin-right: 6px;
        transform: translateY(4px);
      }
      .status {
        font-size: 13px;
        color: grey;
        margin-top: -5px;
      }
    }

    .right {
      display: flex;
      justify-content: space-between;

      .close {
        cursor: pointer;
        color: grey;
        &:hover {
          color: #ed1450;
        }
        &:active {
          opacity: 0.7;
        }
      }
    }
  }

  .chat-summary {
    color: #00000073;
    // padding: 10px 0;
    // text-align: right;
    font-weight: 500;
  }
}
