.dealmodal {
  .ant-modal-header {
    border-bottom: unset;
  }

  .ant-modal-confirm .ant-modal-body {
    padding: 18px;
  }

  .ant-modal-footer,
  .ant-modal-close {
    display: none;
  }

  @media (max-width: 575px) {
    .ant-form .ant-form-item .ant-form-item-label {
      flex: 0 0 37.5%;
    }

    .ant-form .ant-form-item .ant-form-item-control {
      flex: 0 0 50%;
    }
  }
}
