.message {
  flex-grow: 1;
  overflow: hidden;

  &-wrapper {
    width: 95%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background-color: white;

    & .str-chat-channel {
      max-height: unset;
      height: 100%;
    }

    & .str-chat__main-panel {
      background-color: white;
      padding: unset;
    }

    .str-chat__message-simple-status {
      display: none;
    }

    @media screen and (min-width: 420px) {
      .str-chat__message--me .str-chat__message-inner,
      .str-chat__message-simple--me .str-chat__message-inner {
        margin-left: 5px;
      }
    }

    .str-chat__avatar.str-chat__avatar--circle {
      display: none;
    }

    .messaging.str-chat .str-chat__list {
      padding: 0 10px;
    }

    .str-chat__message-simple__actions__action {
      &--thread {
        display: none !important;
      }
    }

    .str-chat__message-text-inner.str-chat__message-simple-text-inner {
      padding: 10px;
      color: #484848;
    }

    .str-chat__message {
      .str-chat__message-text-inner.str-chat__message-simple-text-inner {
        background-color: #ffbcd6;
      }
    }

    .str-chat__message--me.str-chat__message-simple--me {
      .str-chat__message-text-inner.str-chat__message-simple-text-inner {
        background-color: #7fdff8;
      }
    }
  }
}

.msg {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 40px;

  &-wrapper {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
  }

  &-discussions {
  }

  &-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-left {
      color: #585858;
      font-weight: bold;
      margin: auto 0;
      font-size: 24px;
      display: flex;
      align-items: center;

      & span {
        font-weight: 400;
        font-size: 16px;
        margin-left: 5px;
        margin-top: 4px;
      }
    }

    &-right {
      & > div {
        min-width: 160px;

        .ant-select {
          font-weight: 500;
          color: #ed1450;
          font-size: 14px;
          width: 100%;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          border: 1px solid #c7c7c7;
        }
      }
    }
  }

  &-end {
    padding: 20px 0;
    border-top: 1px solid rgb(238, 238, 238);
    text-align: center;
    margin: auto 0;
    font-size: 12px;
  }
}
