.deal-item-container {
  width: 100%;
  padding: 30px 0 15px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  position: relative;
  &:last-child {
    border-bottom: unset;
  }

  .source-destination {
    position: absolute;
    top: 14px;
    right: 0;
  }

  .deal-item-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    .deal-item-row-one {
      width: 100%;
      font-size: 12px;
      color: grey;
      line-height: 1.5;

      .discussion {
        font-weight: 600;
        color: rgb(20, 160, 20);
        text-decoration: underline;
      }
    }

    .deal-item-row-two {
      margin: 20px 0;
      font-size: 15px;
      color: rgb(94, 94, 94);
      font-style: italic;
      line-height: 1.5;
      font-weight: 500;
    }

    .deal-item-row-three {
      font-size: 12px;
      color: grey;
    }

    .deal-item-row-four {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;

      .like-dislike {
        font-size: 16px;
        font-weight: 500;
        margin: auto 0;

        .like,
        .dislike,
        .score {
          cursor: pointer;

          &:active {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .status {
    font-weight: bold;
    color: #14a014;
  }
}

.green-button {
  background: rgb(20, 160, 20);
  color: white;
  padding: 2px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;

  &:active {
    opacity: 0.8;
  }
}

.username-green {
  color: rgb(20, 160, 20);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4px;

  &:active {
    opacity: 0.7;
  }
}

.source-destination {
  width: auto;
  height: 22px;
  font-size: 12px;
  color: white;
  background-color: #a8a8a8;
  padding: 2px 10px;
  border-radius: 10px;
}

.bold {
  font-weight: 600;
}

.like-dislike {
  font-size: 15px;
  margin-top: 5px;

  .like {
    color: rgb(20, 160, 20);
    margin-right: 18px;
    font-weight: bold;

    .anticon {
      transform: translateY(-1px);
    }
  }

  .dislike {
    color: #ed1450;
    font-weight: bold;
  }

  .score {
    color: grey;
    font-weight: bold;
  }
}
