.discussion-item-container {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  &:last-child {
    border-bottom: unset;
  }
  &:active {
    opacity: 0.7;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom {
    margin-top: 0px;
    margin-left: 10px;

    .info {
      margin: auto 0 auto 10px;
      color: grey;
      font-size: 12px;
    }
    .with-indicator {
      color: gray !important;
      font-weight: normal !important;
      font-size: 12px !important;
    }
  }
}
