.wallet {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 40px;
  position: relative;

  &-alert {
    & .ant-alert-message {
      color: #14a014;
      font-size: 13px;
      line-height: 15px;
    }

    &-err {
      & .ant-alert-message {
        color: #ed1450;
      }
    }
  }

  .ant-divider-inner-text {
    color: #ed1450;
  }

  .ant-table-row {
    cursor: pointer;
  }

  &-wrapper {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
  }

  &-p {
    font-size: 14px;
    color: #999;
    margin: 0;
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
      &:first-child {
        display: flex;
        align-items: center;
        // gap: 5px;

        & div {
          flex: 0 0 24px;
          height: 24px;
        }
      }
    }
  }

  &-coin {
    margin: 30px 0;
    margin-bottom: 40px;

    & h2 {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      cursor: default;
    }

    & .header-color-positive {
      color: #14a014;
    }

    & .header-color-negative {
      color: #ed1450;
    }

    &-btn {
      display: flex;
      // gap: 30px;
      align-items: center;
      margin-bottom: 15px;

      & button:first-child {
        margin-right: 15px;
      }

      &-1 {
        background-color: #9995;
        border-color: #999;
        color: #999;

        &:hover,
        &:focus {
          background-color: #9995;
          border-color: #999;
          color: #999;
        }
      }

      & .ant-btn-primary {
        background-color: #14a014;
        border-color: #14a014;
      }
    }
  }

  &-table {
    & .ant-table-thead {
      & > tr {
        & > th {
          padding-bottom: 10px !important;
          background: #fff;
          border: unset;
          padding: unset;
          font-weight: 400;
          color: #999;
          font-size: 14px;
          width: 33%;

          &::before {
            display: none;
          }

          &:nth-child(2) {
            text-align: center;
          }

          &:nth-child(3) {
            text-align: right;
          }
        }
      }
    }
    & .ant-table-tbody {
      & > tr {
        &.ant-table-row:hover > td {
          background: #fff;
        }

        & > td {
          height: 70px;
          background: #fff;
          border: unset;
          padding: unset;
          vertical-align: top;
          font-weight: 500;
          // font-size: 10px;
          // color: #999;

          &:nth-child(2) {
            text-align: center;
          }
        }
      }
    }

    &-transaction {
      display: flex;
      align-items: flex-start;
    }
  }
}
